.taken{ color: var(--taken); }
.inLoad{ color: var(--inLoad); }
.notTaken{ color: var(--notTaken); }
.incomplete{ color: var(--incomplete); }
.preReq{ color: var(--prereq); }
.credited{ color: var(--credited); }

.student-currs{
  width: 100%;
}
.student-currs .curr{
  padding: 20px 0;
}
.student-currs .curr .gen-info{
  background: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.student-currs .curr .gen-info .student-name{
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 0 16px;
}
.student-currs .curr .gen-info .student-name img{
  width: clamp(14px, -0.875rem + 5vw, 16px);
  cursor: pointer;
}
.student-currs .curr .gen-info .infos{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.student-currs .curr .gen-info .infos ul{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  padding: 8px 5px 5px;
  border: 2px groove gray;
}
.student-currs .curr .gen-info .infos ul::before{
  background: var(--gray);
  position: absolute;
  top: 0;
  font-size: 11px;
  padding: 0 3px;
  transform: translateY(-55%);
}
.student-currs .curr .gen-info .infos .basic-info::before{ content: 'Basic Information'; }
.student-currs .curr .gen-info .infos .units::before{ content: 'Units'; }
.student-currs .curr .main-curr{
  max-width: 780px;
  margin-inline: auto;
  width: calc(100vw - 200px);
}
.student-currs .curr .main-curr .year-taken,
.student-currs .curr .main-curr .tab-nav{ user-select: none; }
.student-currs .curr .main-curr .tab-nav{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 10px;
  margin: 15px 0 0;
}
.student-currs .curr .main-curr .tab-nav ul{
  display: flex;
}
.student-currs .curr .main-curr .tab-nav ul li{
  background: var(--gray);
  border-radius: 7px 7px 0 0;
  cursor: pointer;
}
.student-currs .curr .main-curr .tab-nav ul li p{ padding: 5px 8px; }
.student-currs .curr .main-curr .tab-nav ul li:hover{ background: hsl(222, 8%, 77%); }
.student-currs .curr .main-curr .tab-nav ul li.selected,
.student-currs .curr .main-curr .tab-nav ul li.selected:hover{ background: hsl(222, 8%, 88%); }
.student-currs .curr .main-curr .tab-nav .legend{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 0 5px;
}
.student-currs .curr .main-curr .tab-nav .legend > p{ font-weight: bold; }
.student-currs .curr .main-curr .tab-nav .legend p{ font-size: 9px; }
.student-currs .curr .main-curr .tab-nav .legend > div{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2px;
}
.student-currs .curr .main-curr .tab-nav .legend > div > div{
  width: 12px;
  height: 12px;
  border: 1px solid black;
}
.student-currs .curr .main-curr .tab-nav .legend .inLoad{ background: var(--inLoad); }
.student-currs .curr .main-curr .tab-nav .legend .taken{ background: var(--taken); }
.student-currs .curr .main-curr .tab-nav .legend .notTaken{ background: var(--notTaken); }
.student-currs .curr .main-curr .tab-nav .legend .preReq{ background: var(--prereq); }
.student-currs .curr .main-curr .tab-nav .legend .incomplete{ background: var(--incomplete); }
.student-currs .curr .main-curr .tab-nav .legend .credited{ background: var(--credited); }
.student-currs .curr .main-curr .curriculum-lists{
  background: linear-gradient(
    to bottom,
    hsl(222, 8%, 88%) 20%,
    hsl(222, 8%, 93%)
  );
}
.student-currs .curr .main-curr .curriculum-lists article{
  display: none;
  padding: 20px;
  flex-direction: column;
  min-height: 400px;
}
.student-currs .curr .main-curr .curriculum-lists article.show{ display: flex; }
.student-currs .curr .main-curr .curriculum-lists article p{ margin-bottom: 4px; } 
.student-currs .curr .main-curr .curriculum-lists .year-taken{
  display: flex;
  gap: 8px;
  margin: 0 0 5px;
}
.student-currs .curr .main-curr .curriculum-lists .year-taken span{
  color: #000;
  cursor: pointer;
}
.student-currs .curr .main-curr .curriculum-lists .year-taken span.selected{ color: var(--l-blue); }
.student-currs .curr .main-curr .curriculum-lists .curr-tables > div{
  display: none;
  flex-direction: column;
}
.student-currs .curr .main-curr .curriculum-lists .curr-tables > div.show{ display: flex; }
.curriculum-lists table{ width: 740px; }
.curriculum-lists .table-cont{ overflow: auto; }
.curriculum-lists .curr-tables > div .table-cont:not(:last-child){ margin-bottom: 10px; }
.curriculum-lists table thead th:nth-child(1){ white-space: nowrap; }
.curriculum-lists table thead th:nth-child(2){ width: 40%; }
.curriculum-lists table thead th:nth-child(3)
.curriculum-lists table thead th:nth-child(4),
.curriculum-lists table thead th:nth-child(5){ width: 5%; }
.curriculum-lists table thead th:nth-child(6),
.curriculum-lists table thead th:nth-child(7){ width: 15%; } 
.curriculum-lists table thead th,
.edit-status-modal th{
  background: hsl(0, 0%, 55%);
  font-weight: normal;
  text-align: center;
  border: solid 1px hsl(0, 0%, 20%);
}
.edit-status-modal label{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5px 4px;
}
.student-currs .curr .main-curr .curriculum-lists table tbody tr:last-child{ border-top: 2px solid black; }
.student-currs .curr .main-curr .curriculum-lists table tbody td:not(:nth-of-type(n + 3):nth-of-type(-n + 5)),
.edit-status-modal td:nth-of-type(-n + 2) label{
  text-align: left;
}
.student-currs .curr .main-curr .curriculum-lists table tbody td,
.edit-status-modal td{
  background: #f0f0f0;
  text-align: center;
  text-transform: uppercase;
  border: solid 1px hsl(0, 0%, 85%);
}
.edit-status-modal td{ padding: 0}
.student-currs .curr .main-curr .curriculum-lists #Electives select{ margin: 18px 0 0 20px; }
.student-currs .curr .main-curr .curriculum-lists :is(#Electives, #Specialization) > span{
  display: flex;
  gap: 10px;
  margin: 0 0 5px;
}
.student-currs .curr .main-curr .curriculum-lists .no-course{
  color: red;
  text-align: center;
}

.edit-status-modal ul,
.edit-status-modal div.show{
  display: flex;
}
.edit-status-modal li{
  background: var(--gray);
  display: flex;
  align-items: center;
  padding: 5px 8px;
  height: inherit;
  border-radius: 7px 7px 0 0;
  user-select: none;
}
.edit-status-modal button{
  background: var(--gray);
  padding: 5px 12px;
  border-radius: 7px 7px 0 0;
  user-select: none;
}
.edit-status-modal li.selected{
  background: hsl(222, 8%, 88%);
}
.edit-status-modal .top{
  display: flex;
  justify-content: space-between;
}
.edit-status-modal :where(.edit-core, .edit-elec, .edit-spec){
  background: hsl(222, 8%, 88%) 20%;
  display: none;
  padding: 15px;
  height: fit-content;
}
.edit-status-modal th:nth-child(1){
  width: 65px;
}
.edit-status-modal th:nth-child(2){
  width: 300px;
}
.edit-status-modal th:nth-child(3){
  width: 30px;
}

.modals{
  background: hsl(0, 0%, 15%, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 6;
}
.modals > button{
  position: absolute;
  top: 20px;
  right: 25px;
  width: 20px;
}
.modals.show,
.modals article.show{
  display: flex;
}
.modals article{
  background: #f4f4f4;
  display: none;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  max-height: 90vh;
  padding: 20px;
  overflow-y: auto;
}

/* --==Responsive==-- */
@media(max-width: 1400px){
  
}
@media(max-width: 1250px){

}
@media(max-width: 940px){
  .modals > button{
    top: 12px;
    width: 16px;
  }
}
@media(max-width: 740px){
  .student-currs .curr{
    padding: 15px 0;
  }
  .student-currs .curr .main-curr .curriculum-lists article{
    padding: 13px;
  }
}
@media(max-width: 560px){
  .student-currs .curr .main-curr{
    width: 100%;
  }
  .student-currs .curr .main-curr .curriculum-lists table{
    width: 550px;
  }
  .curriculum-lists table thead th:nth-child(2){
    width: 30%;
  }

  .modals article{
    padding: 10px 0 0;
  }
}